@using _6._1_Users_and_awards.WEB.Models;


@{
    string errorMessage = null;
    if (IsPost)
    {
        var Id = Request["Id"];
        var Title = Request["Title"];
        var Image = Request["Image"];
        if (UsersAndAwards.EditAward(Id, Title, Image))
        {
            UsersAndAwards.Save(UsersAndAwards.Path);
            errorMessage = "Edit award successful!";
        }
        else
        {
            errorMessage = "Error edit of award!";
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit awards</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
</head>
<body>
    @if (errorMessage != null)
    {
        <div class="alert alert-danger">@errorMessage</div>
    }
    <div><h3>Page edit of awards</h3></div>
    <div>
        @if (UsersAndAwards.GetAllAward().Count != 0)
        {

            var awards = UsersAndAwards.GetAllAward();
        <table border="1">
            <caption>Table of Awards</caption>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Image</th>
            </tr>
            @foreach (var item in awards)
            {
                string path = @UsersAndAwards.GetImage(item);
                <tr><td>@item.Id.ToString()</td><td>@item.Title</td><td><img src="~/Pages/Image/@path"></td></tr>
            }
        </table>
            <form action="" method="post">
                <div class="field">
                    <label for="a">Enter ID award for edit:</label>
                    <input type="text" name="Id" id="Id">
                </div>
                <div class="field">
                    <label for="a">Enter new title of award:</label>
                    <input type="text" name="Title" id="Title">
                </div>
                <div class="field">
                    <label for="a">Enter new name of file for image award:</label>
                    <input type="text" name="image" id="Image">
                </div>
                <button>Edit</button>
            </form>
        }
        else
        {
            <table border="1">
                <caption>Table of Award</caption>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                </tr>
                <tr><td>Empty</td><td>Empty</td></tr>
            </table>
        }
    </div>
    <a href="~/Pages/Index">Main page</a>
</body>
</html>
