@using _6._1_Users_and_awards.WEB.Models;

@{
    string errorMessage = null;
    if (IsPost)
    {
        var Name = Request["Name"];
        if (MyRoleProvider.CheckLogin(Name))
        {
            MyRoleProvider.EditUser(Name, MyRoleProvider.GetAnotherRole(Name));
            Response.Redirect("/Pages/EUser2");
            errorMessage = "Edit role successful!";
        }
        else
        {
             errorMessage = "Error edit role!";
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit roles of users</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
</head>
<body>
    @if (errorMessage != null)
    {
        <div class="alert alert-danger">@errorMessage</div>
    }
    <div><h3>Page edit of roles of users</h3></div>
    <div>
        @if (MyRoleProvider.GetAllUsersRoles().Count != 0)
        {
           // var users = UsersAndAwards.GetAllUsers();
            <table border="1">
                <caption>Table of Users</caption>
                <tr><th>Name of user</th><th>Role</th></tr>
                @foreach (var item in MyRoleProvider.GetAllUsersRoles())
                {
                    <tr><td>@item.Key</td><td>@MyRoleProvider.GetRole(@item.Key)</td></tr>
                }
            </table>
            <form action="" method="post">
                <div class="field">
                    <label for="a">Enter name user for edit:</label>
                    <input type="text" name="Name" id="Name">
                </div>
                <button>Edit</button>
            </form>
        }
        else
        {
            <table border="1">
                <caption>Table of Users</caption>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
                <tr><td>Empty</td><td>Empty</td></tr>
            </table>
        }
        <a href="~/Pages/Index">Main page</a>
    </div>
</body>
</html>
