body
{
  background: black;
  font-family: Arial;
}

h1
{
  font-size: 40px;
  color: rgb(255, 177, 99);
}
.artblock
{
background-image: linear-gradient(120deg, black 150px, white 150px);
padding: 0px 15px 0px 15px;
border: 1px groove white;
border-top: none;
border-left: none;
border-bottom: none;
margin: 10px 40px 0 40px;
height: 50px;
}
.textblock
{  	
background-image: linear-gradient(to bottom, white, rgb(221, 221, 221));
border: 1px groove white;
border-top: none;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
color: black;
font-size: 20px;
padding: 15px 25px 10px 15px;
margin: 0px 40px 0 40px;
}