@using Epam.MyDrive.WEB.Models;
@{
    Layout = "~/Pages/_MainLayout.cshtml";
    var TempCurrentBlog = BlogsPL.GetBlogsById(Guid.Parse(BlogsPL.Temp));
    var TempCurrentCar= CarsPL.GetCarById(Guid.Parse(CarsPL.Temp));
    if (IsPost)
    {
        if (Request["DelBlog"] != null)
        {
            BlogsPL.DeleteBlogCar(TempCurrentBlog,TempCurrentCar.ID);
            Response.Redirect("~/Pages/Index");
        }
        if (Request["Cancel"] != null)
        {
            Response.Redirect("~/Pages/CarBlog");
        }

    }
}

    <div class="post-item">
        <table class="car">
            <tr>
                <td><h1>Вы уверены, что хотите удалить запись?</h1>
            </tr>
            <tr>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="DelBlog" id="DelBlog" value="@CarsPL.Temp">
                        <button>Да</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="Cancel" id="Cancel" value="@CarsPL.Temp">
                        <button>Нет</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>