@{
    Layout = "~/Pages/_MainLayout.cshtml";
}

    <div class="post-item">
        <table class="blog">
            <tr>
                <td>
                    <h5>Гостю в приложении доступен только промотр всех машин и всех пользователей. Для расширения функционала Гость должен зарегистрироваться и войти</h5>
                </td>
             </tr>
            </table>
    </div>
    <div class="post-item">
        <table class="blog">
            <tr>
                <td>
                    <h5>Зарегистрированный пользователь может просматривать информацию о себе, своих машинах, бортовых журналах своих машин, а также информацию о дугих пользователях</h5>
                    <h5>Зарегистрированный пользователь может удалять свои блоги и машины и изменять информацию о себе в профиле</h5>
                    <h5>Зарегистрированный пользователь может отправлять сообщения другим пользователям и оставлять комментарии в блогах (и удалять их)</h5>
                    <h5>Зарегистрированный пользователь может подписываться на других пользователей</h5>
                    <h5>Зарегистрированный пользователь может искать других пользователей и блоги</h5>
                </td>
            </tr>
        </table>
    </div>
    <div class="post-item">
        <table class="blog">
            <tr>
                <td>
                    <h5>Администраторы могут удалять других пользователей и изменять их роль. Администраторы могут редактировать сообщения пользователей и удалять их.</h5>
                    <h5>Администраторы могут удалять чужие машины и блоги</h5>
                    <h5>По-умолчанию в системе зарегистрирован один администратор. Его логин - admin его пароль - admin</h5>
                    <h5>Администратор по-умолчанию не может править информацию о себе и иметь свою собственную страницу</h5>
                </td>
            </tr>
        </table>
    </div>